
<div style="text-align:center; margin-top: 50px;">
  <h2>Add Comment</h2>

  <!-- form -->
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="comment-form">
    <!-- comment input -->
    <div class="form-group">
      <label for="comment" class="main">Comment</label>
      <textarea 
        id="comment" 
        formControlName="comment" 
        rows="5" 
        class="form-control"></textarea>

      <!-- error message -->
      @if (formControl['comment'].invalid && formControl['comment'].touched) {
        @if (formControl['comment'].hasError('required')) {
          <div class="form-text text-danger">Required</div>
        }
        @if (formControl['comment'].hasError('minLength')) {
          <div class="form-text text-danger">Number of characters can't be less than 30</div>
        }
        @if (formControl['comment'].hasError('maxLength')) {
          <div class="form-text text-danger">Number of characters can't be more than 500</div>
        }
      }
    </div>

    <!-- rating input -->
    <div class="rating-container">
      <div class="rating-title">Rating</div>
      <label for="one" class="rating-label">
        <input type="radio" id="one" formControlName="rating" value="1">
        1
      </label>
      <label for="two" class="rating-label">
        <input type="radio" id="two" formControlName="rating" value="2">
        2
      </label>
      <label for="three" class="rating-label">
        <input type="radio" id="three" formControlName="rating" value="3">
        3
      </label>
      <label for="four" class="rating-label">
        <input type="radio" id="four" formControlName="rating" value="4">
        4
      </label>
      <label for="five" class="rating-label">
        <input type="radio" id="five" formControlName="rating" value="5">
        5
      </label>
    </div>

    <!-- error message for rating -->
    @if (formControl['rating'].invalid && formControl['rating'].touched) {
      @if (formControl['rating'].hasError('required')) {
        <div class="form-text text-danger">Required</div>
      }
      @if (formControl['rating'].hasError('min') || formControl['rating'].hasError('max')) {
        <div class="form-text text-danger">Rating must be between 1 and 5</div>
      }
    }

    <!-- submit button -->
    <button type="submit" [disabled]="commentForm.invalid" class="submit-button" >Submit</button>

    <!-- success/error messages -->
    @if (submittedSuccessfully) {
      <div class="success-message">Comment added successfully!</div>
    }
    @if (errorOccurred) {
      <div class="error-message">Something went wrong, please try again.</div>
    }
  </form>
  </div>
