<div class="row">
    <div class=" col">
        <img src="https://images.pexels.com/photos/1704488/pexels-photo-1704488.jpeg?cs=srgb&dl=pexels-sulimansallehi-1704488.jpg&fm=jpg"
            alt="nooo" class="img-fluid">
    </div>
    <div class="col">
        <h2>Book title</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore doloremque laboriosam tempore deserunt
            possimus nemo harum eligendi. Earum sint repudiandae necessitatibus, harum, aperiam ratione accusantium
            quidem, esse ullam enim magni.</p>
        <h4>$15.0</h4>
    </div>
</div>